<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BucketName</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <!-- Show error or success messages if there are any -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Check to see if there are any messages to show -->
    {% if messages %}
    {% for category, message in messages %}
    <p class="alert {{ category }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- This is the zoomed in page of the buckets -->
</body>

</html>