<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Owned Items</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/script.js" defer></script>
</head>

<body>

    <div>
        <!-- Show error or success messages if there are any -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Check to see if there are any messages to show -->
        {% if messages %}
        {% for category, message in messages %}
        <p class="alert {{ category }}">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    
    <div class="box-container">
        <div class="full-width-box">
            <div class="box">
                <div class="container">
                    <h2>{{ session.username }}'s Budget</h2>
                    <p class="logout"><a class="bottom" href="{{url_for('logout')}}">Logout</a></p>
                </div>
            </div>
        </div>

        <div class="box">
        

            <!-- Middle box for adding a new bucket -->
            <div class="container">
                <h4>Add new bucket:</h4>
                <form action="/" method="post">
                    <!-- Name -->
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                    <br>
                    <!-- Description -->
                    <label for="description">Description:</label>
                    <input type="text" id="description" name="description" required>
                    <br>
                    <!-- Allocated -->
                    <label for="allocated">Allocated:</label>
                    <input type="number" id="allocated" name="allocated" required>
                    <br>
                    <!-- Submit Button -->
                    <button type="submit" name="addBucket">Add Bucket</button>
                </form>
            </div>
        </div>

        <div class="box">
            <h4>Add new expense/deposit:</h4>
            <form action="/" method="post">
                <!-- Date -->
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required>
                <br>
                <!-- Quantity -->
                <label for="descripton">Description:</label>
                <input type="text" id="description" name="description" required>
                <br>
                <!-- Amount -->
                <label for="amount">Amount:</label>
                <input type="number" id="amount" name="amount" required>
                <br>
                <!-- Slider for Expense/Deposit -->
                <label for="amount">Is Expense?</label>
                <div class="slider-container">
                <!-- ---------- TODO: Get the JS working to change the expense/deposit --------- -->
                <br>
                    <label class="switch">
                        <input type="checkbox" name="expense" id="expense-deposit-toggle" value="Is expense?">
                        <span class="slider round"></span>
                    </label>
                </div>
                <br>
                 <!-- Bucket -->
                <label for="bucket">Bucket:</label>
                <select id="bucket" name="bucket" required>
                    {% for row in items %}
                        <option value="{{row[1]}}">{{row[1]}}</option>
                    {% endfor %}
                </select>
                <br>
                <!-- Submit Button -->
                <button type="submit" name="addTrans">Add Trans</button>
            </form>
        </div>
    </div>
    <div class="box-container">
        <div class="full-width-box">
            <div class="box">
                <div class="container">
                    <h2>All Buckets</h2>
                    <dl>
                        {% for bucket in items %}
                        <dt>{{bucket[1]}}</dt>
                        <dd>Description: {{bucket[2]}}</dd>
                        <dd>Allocated: ${{bucket[3]}}</dd>
                        <dd>Remaining: ${{bucket[4]}}</dd>
                        <br>
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
