<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Owned Items</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <!-- Show error or success messages if there are any -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Check to see if there are any messages to show -->
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Code for adding a new item -->
    <h2>{{ session.username }}'s Budget</h2>

    <h4>Add new expense/deposit:</h4>
    <form action="/new-item" method="post">
        <!-- Name -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <!-- Quantity -->
        <label for="quantity">Description:</label>
        <input type="text" id="description" name="description" required>
        <br>
        <!-- Amount -->
        <label for="quantity">Amount:</label>
        <input type="number" id="amount" name="amount" required>
        <br>
        <!-- Submit Button -->
        <input type="submit" value="Submit">
    </form>

    <!-- Code for listing owned items -->
    <h4>{{ session.username }}'s Buckets</h4>
    <ul>
        <!-- This is some python jinja2 code. Only existing items will be displayed. -->
        {% for bucket in buckets %}
            <li>Name: {{ bucket[0] }} - Description: {{ bucket[1] }} - Allocated: {{ bucket[2] }} - Remaining: {{ bucket[3] }}</li>
        {% endfor %}
    </ul>
    <p class="bottom"><a class="bottom" href="{{url_for('logout')}}">Logout</a></p>
</body>
</html>
